<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section
      class="header"
      style="
        background-image: linear-gradient(#517e86c4, #949fdf1a),
          url(img/About.jpg);
      "
    >
      <nav>
        <a href="/" class="logo">ORHS</a>
        <div class="nav-links" id="navLinks">
          <!-- Reposnive bar open and close -->
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Student Login</a></li>
            <li><a href="/login2">Mentor Login</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        <!-- Reposnive bar open and close -->
      </nav>

      <div class="text_box">
        <!-- <h2>WELCOME</h2> -->
        <br />
        <p id="headtext">About our Project</p>
        <center>
          <p style="width: 60%">
            Our team has developed this Web Application considering the needs
            and requirements of the students and teachers. We have done intense
            research and work on evaluating the flaws in other websites and
            tried to overcome them in this one. Having developed this
            Application with the latest technologies and Frameworks, not only
            reduces the access time but also increases the amount of data that
            can be stored and retrieved.
          </p>
        </center>
      </div>
    </section>
    <!-- End of Header -->
    <br /><br /><br />
    <center>
      <h2 style="color: blueviolet">Meet Our Hardworking Team</h2>
    </center>
    <div class="row" style="margin: 40px">
      <div class="column">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Nitish Bisht</h5>
            <h6 class="card-title">20BCS7859</h6>
            <p class="card-text">Front-End and Leader</p>
            <a
              href="https://www.linkedin.com/in/nitish-bisht-45816a200/"
              class="btn btn-primary"
              target="_blank"
              >Contact</a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Vishal Khawas</h5>
            <h6 class="card-title">20BCS7861</h6>
            <p class="card-text">Back-end Developer</p>
            <a
              href="https://www.linkedin.com/in/vishal-khawas-8bb3a9200/"
              class="btn btn-primary"
              target="_blank"
              >Contact</a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Ekta Sharma</h5>
            <h6 class="card-title">20BCS7873</h6>
            <p class="card-text">Database Management</p>
            <a href="#" class="btn btn-primary" target="_blank">Contact</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Ominder Singh</h5>
            <h6 class="card-title">20BCS7887</h6>
            <p class="card-text">API Expert</p>
            <a href="#" class="btn btn-primary" target="_blank">Contact</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section Start -->
    <section class="footer">
      <hr />
      <h4>About Us</h4>
      <p>
        Chandigarh University is a full-fledged university established by the
        Punjab State Legislature and is recognized by University Grants
        Commission under Section 2(f) with the right to confer degrees as per
        Section 22(1) of the UGC Act, 1956.
      </p>

      <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <p>&copy Nitish Bisht and Team</p>
    </section>
    <!-- Footer Section End -->
  </body>
</html>
