<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RHS</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    />
  </head>

  <body>
    <section
      class="header"
      style="
        background-image: linear-gradient(#517e86c4, #949fdf1a),
          url(img/banner1.png);
      "
    >
      <nav>
        <a href="/" class="logo">ORHS</a>
        <div class="nav-links" id="navLinks">
          <!-- Reposnive bar open and close -->
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Student Login</a></li>
            <li><a href="/login2">Mentor Login</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        <!-- Reposnive bar open and close -->
      </nav>

      <div class="text_box">
        <h2>WELCOME</h2>
        <p id="headtext">TO cu</p>
        <p>
          Providing world class infrastructure, renowned academicians and ideal
          environment for Research, Innovation, Consultancy and Entrepreneurship
          relevant to the society.
        </p>
        <a href="https://www.cuchd.in/" target="_blank" class="hero_btn"
          >Visit Us To Know More</a
        >
      </div>
    </section>

    <!-- Course Section Start -->
    <section class="course">
      <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
      </div>
      <h1>
        EXPLORE OUR 60+ <br />
        MAJOR PROGRAMS
      </h1>
      <p>
        Offering programs & courses in consonance with National policies for
        nation building and meeting global challenges.
      </p>

      <div class="row">
        <div class="course-col">
          <h3>Undergraduate Programs</h3>
          <p>
            Engineering <br />
            Management <br />
            Computer Applications <br />
            Animation and Multimedia <br />
            Hotel Management <br />
            Biotechnology Engineering <br />
            Basic Sciences
          </p>
        </div>
        <div class="course-col">
          <h3>Graduate Programs</h3>
          <p>
            Animation and Multimedia <br />
            Management <br />
            Computer Applications <br />
            NCHMCT Hospitality Management <br />
            Physiotherapy <br />
            Applied Health Sciences <br />
            Fine Arts
          </p>
        </div>
        <div class="course-col">
          <h3>Adult Learning & Degree Completion</h3>
          <p>
            Contributing for creation of healthy, vibrant and sustainable
            society by involving in Institutional Social Responsibility (ISR)
            activities like rural development, welfare of senior citizens, women
            empowerment, community service, health and hygiene awareness and
            environmental protection
          </p>
        </div>
      </div>
    </section>
    <!-- Course Section End -->

    <!-- Campus Section Start-->

    <section class="campus">
      <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
      </div>
      <h1>Virtual Tour</h1>
      <p>A Home Away From Home</p>

      <div class="row">
        <div class="campus-col">
          <img src="img/Campus_1.jpg" alt="" />
          <div class="layer">
            <h3>Campus</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="img/Campus_2.jpg" alt="" />
          <div class="layer">
            <h3>Campus</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="img/Campus_3.jpg" alt="" />
          <div class="layer">
            <h3>Campus</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Campus Section End -->

    <!-- Facilities Section Start -->
    <section class="facilities">
      <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
      </div>
      <h1>LOGIN / SIGNUP</h1>
      <p>Login or SignUp with your UIDs.</p>

      <div class="row">
        <div class="facilities-col">
          <img src="img/studentlogo.png" alt="" />
          <br /><a href="/login" target="_blank" class="hero_btn2"
            ><b>Student Login</b></a
          >
          <p>
            <br />
            Login with your UID and Password to access your Student Services and
            Account. The CUIMS will keep a record of your progress and keep you
            apprised of the latest updates.
          </p>
        </div>
        <div class="facilities-col">
          <img src="img/Teacherlogo.png" alt="" />
          <br /><a href="/login2" target="_blank" class="hero_btn2"
            ><b> Mentor Login</b></a
          >
          <p>
            <br />
            Login using your Employee Code and Password to access your account,
            keep track of your progress and other official services.
          </p>
        </div>
        <div class="facilities-col">
          <img src="img/bblogo.png" alt="" />
          <br /><a
            href="https://cuchd.blackboard.com/"
            target="_blank"
            class="hero_btn2"
            ><b>Blackboard Login</b></a
          >
          <p>
            <br />
            Login to your Virtual Classroom using your UID/EmployeeID and CUIMS
            password. In case you face any login issues, then reset your CUIMS
            Password and wait for 20 minutes to proceed.
          </p>
        </div>
      </div>
    </section>
    <!-- Facilities Section End -->

    <!-- Testimonials Section Start -->
    <section class="testimonials">
      <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
      </div>
      <h1>SOME of Our Bright Student</h1>
      <p>Best Engineering and Management Placement in North India</p>

      <div class="row">
        <div class="testimonials-col">
          <img src="img/user.png" alt="oo.." />
          <div>
            <p>
              CU gave me all that I needed as a student, and became my
              pathfinder to success. Every day I learned new things, was
              informed about latest industry trends, improved my communication,
              and learned how to act as a manager.
            </p>
            <h3>PREETIKA SHARMA (Danone Pvt. Ltd.)</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="img/user.png" alt="oo.." />
          <div>
            <p>
              Continuous efforts of the MBA & DCD faculty have helped me grab
              the placement offer of Flipkart. All through my journey, my
              mentors have outstandingly imparted requisite skills demanded
              during the recruitment process. Indeed, CU has improved me in all
              the dimensions possible.
            </p>
            <h3>SIMRAN SHARMA (Flipkart)</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials Section End -->

    <!-- Call To Action Section Start -->
    <section
      class="cta"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)
          ),
          url(img/back1.png);
      "
    >
      <h1 id="about">GET READY FOR A BRIGHT FUTURE</h1>
      <a href="/contact" class="hero_btn">CONTACT US</a>
    </section>
    <!-- Call To Action Section End -->

    <!-- Footer Section Start -->
    <section class="footer">
      <hr />
      <h4>About Us</h4>
      <p>
        Chandigarh University is a full-fledged university established by the
        Punjab State Legislature and is recognized by University Grants
        Commission under Section 2(f) with the right to confer degrees as per
        Section 22(1) of the UGC Act, 1956.
      </p>

      <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <p>&copy Nitish Bisht and Team</p>
    </section>
    <!-- Footer Section End -->

    <script src="script.js"></script>
  </body>
</html>
